<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>

  <body>
    <%= require('!html-loader!./partials/header.html').default %>
    <main class="main container-style column">
      <section class="paragraph article-style column">
        <h2 class="header">Lorem ipsum dolor sit amet</h2>
        <article class="paragraph__article">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          eget eros vel sapien fermentum sagittis sed id purus. Aliquam vel
          libero sapien. Quisque vestibulum porttitor eros, sit amet laoreet
          velit tempus non. Praesent quis sapien ut ipsum rhoncus dapibus. Cras
          sodales, nisl at maximus ullamcorper, tellus neque venenatis sem, nec
          ultricies est nunc quis mauris. Mauris non mi ut erat bibendum
          elementum vitae at quam. Morbi ullamcorper ex neque, sit amet
          imperdiet ligula gravida a. Nam fermentum ex non scelerisque sagittis.
          In quis lacus eget leo convallis elementum vel sed ligula. Phasellus
          vel massa vulputate, interdum ipsum sit amet, tincidunt eros. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget eros
          vel sapien fermentum sagittis sed id purus. Aliquam vel libero sapien.
          Quisque vestibulum porttitor eros, sit amet laoreet velit tempus non.
          Praesent quis sapien ut ipsum rhoncus dapibus. Cras sodales, nisl at
          maximus ullamcorper, tellus neque venenatis sem, nec ultricies est
          nunc quis mauris. Mauris non mi ut erat bibendum elementum vitae at
          quam. Morbi ullamcorper ex neque, sit amet imperdiet ligula gravida a.
          Nam fermentum ex non scelerisque sagittis. In quis lacus eget leo
          convallis elementum vel sed ligula. Phasellus vel massa vulputate,
          interdum ipsum sit amet, tincidunt eros. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Curabitur eget eros vel sapien fermentum
          sagittis sed id purus. Aliquam vel libero sapien. Quisque vestibulum
          porttitor eros, sit amet laoreet velit tempus non. Praesent quis
          sapien ut ipsum rhoncus dapibus. Cras sodales, nisl at maximus
          ullamcorper, tellus neque venenatis sem, nec ultricies est nunc quis
          mauris. Mauris non mi ut erat bibendum elementum vitae at quam. Morbi
          ullamcorper ex neque, sit amet imperdiet ligula gravida a. Nam
          fermentum ex non scelerisque sagittis. In quis lacus eget leo
          convallis elementum vel sed ligula. Phasellus vel massa vulputate,
          interdum ipsum sit amet, tincidunt eros. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Curabitur eget eros vel sapien fermentum
          sagittis sed id purus. Aliquam vel libero sapien. Quisque vestibulum
          porttitor eros, sit amet laoreet velit tempus non. Praesent quis
          sapien ut ipsum rhoncus dapibus. Cras sodales, nisl at maximus
          ullamcorper, tellus neque venenatis sem, nec ultricies est nunc quis
          mauris. Mauris non mi ut erat bibendum elementum vitae at quam. Morbi
          ullamcorper ex neque, sit amet imperdiet ligula gravida a. Nam
          fermentum ex non scelerisque sagittis. In quis lacus eget leo
          convallis elementum vel sed ligula. Phasellus vel massa vulputate,
          interdum ipsum sit amet, tincidunt eros. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Curabitur eget eros vel sapien fermentum
          sagittis sed id purus. Aliquam vel libero sapien. Quisque vestibulum
          porttitor eros, sit amet laoreet velit tempus non. Praesent quis
          sapien ut ipsum rhoncus dapibus. Cras sodales, nisl at maximus
          ullamcorper, tellus neque venenatis sem, nec ultricies est nunc quis
          mauris. Mauris non mi ut erat bibendum elementum vitae at quam. Morbi
          ullamcorper ex neque, sit amet imperdiet ligula gravida a. Nam
          fermentum ex non scelerisque sagittis. In quis lacus eget leo
          convallis elementum vel sed ligula. Phasellus vel massa vulputate,
          interdum ipsum sit amet, tincidunt eros.
        </article>
      </section>
    </main>
    <%= require('!html-loader!./partials/footer.html').default %>
  </body>
</html>
