<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback</title>
  </head>

  <body>
    <div class="wrapper">
      <%= require('!html-loader!./partials/header.html').default %>
      <main class="main container-style zeromargin">
        <section class="form column">
          <div class="string container-style space-between">
            <span class="string__content"> Name:</span
            ><input class="input btn-style" />
          </div>
          <div class="string container-style space-between">
            <span class="string__content"> E-mail:</span
            ><input class="input btn-style" />
          </div>
          <div class="string container-style space-between">
            <span class="string__content">Message:</span
            ><input class="input btn-style" />
          </div>
          <div class="string container-style">
            <button class="string__button btn-style">Send msg</button>
          </div>
        </section>
      </main>
      <%= require('!html-loader!./partials/footer.html').default %>
    </div>
  </body>
</html>
